<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}101cours.com{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            {% stylesheets 
                'bundles/pages/css/bootstrap.min.css'
                'bundles/pages/css/style.css'
                'bundles/pages/css/add.css'
                'bundles/pages/css/w3.css'
                'bundles/pages/css/responsive.css'
                'bundles/pages/css/animate.css'
                'bundles/pages/css/style.css'
                'bundles/pages/css/jquery-autocomplet.css'
                filter='cssrewrite, ?yui_css' %}
            <link type="text/css" rel="stylesheet" media="screen" href="{{ asset_url }}" />
            <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
            {% endstylesheets %}
        {% endblock %}
        
        <meta name="description" content="{% block description %}{% endblock %}" />
        <meta name="keywords" content="{% block keywords %}{% endblock %}" />
        <meta name=viewport content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
        <script src="https://use.fontawesome.com/0499449a83.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    </head>
    {{ include('UserBundle:Security:login_mobile.html.twig') }}
    {% block body %}   
    <body>
        {{ render(controller('UserBundle:Security:loginModal')) }}
        <div class="all-wrapper">
            <!-- ALL HEADER -->
            <!-- WEB HEADER -->
            <header {% if app.user is not null and is_granted('ROLE_USER') %}style="background:#fff;color:#555;"{% endif %}>
                <div style="margin:10px;">
                    <a href="{{ path('pages_homepage') }}" class="{% if app.user is not null and is_granted('ROLE_USER') %}logoc{% else %}logo{% endif %}">
                    </a>
                    {% if app.user is not null and is_granted('ROLE_USER') %}
                        <div class="loginp">
                            <div class="iconsconecte">
                                <a href=""><div class="msgicon"><img src="{{ asset('bundles/pages/img/msg.png') }}" /><span class="nmbrmsg">{% if messageNumber is defined %}{{ messageNumber }}{% endif %}</span></div></a>
                            </div>
                            <div class="profilpic">
                                <img src="{% if app.user.avatar is not empty %}{{ asset('bundles/101cours/avatar/' ~ app.user.avatar.name ~ '.' ~ app.user.avatar.extension) }}{% else %}{{ asset('bundles/pages/img/user_default.png') }}{% endif %}" />
                            </div>
                            <div class="connectead">
                                <ul>
                                    <li><a href="{{ path('my_admin') }}"><i style="margin-right: 10px;" class="fa fa-user" aria-hidden="true"></i>  Mon profil</a></li>
                                    <li><a href="#"><i style="margin-right: 10px;" class="fa fa-cog" aria-hidden="true"></i>  Paramètres</a></li>
                                    <li><a href="#"><i style="margin-right: 10px;" class="fa fa-line-chart" aria-hidden="true"></i>  Activités</a></li>
                                    <li><a href="{{ path('fos_user_security_logout') }}"><i style="margin-right: 10px;" class="fa fa-power-off" aria-hidden="true"></i>  Se déconnecter</a></li>
                                </ul>
                            </div>
                        </div>
                    {% else %}
                        <div class="loginp">
                            <a href="{{ path('pages_help') }}">Comment ça marche ? </a>
                            <a href="{{path('fos_user_registration_register')}}"><button class="sincrire">S’inscrire</button></a>
                            <button id="mybtnconnecter" class="seconecter">Se connecter</button>
                        </div>
                    {% endif %}
                </div>
            </header>
            <!-- END WEB HEADER -->
            <div class="mobile-header">
                <div class="navmobile"><a  onclick="document.getElementById('mobilekaml').style.display='block'"><i class="fa fa-bars" aria-hidden="true"></i></a></div>
                <a href="index.php"><div class="logomobile"></div></a>
            </div>
            <!--  END MOBILE HEADER -->
            <!-- DONNER UN COURS -->
        {% block content %}{% endblock %}           
        <!-- END OF DONNER UN COURS -->
        <div class="footer">
            <div class="container">
                <div class="allwstnav">
                    <div class="suivre">
                        <div class="socials">
                            <span><a class="fb" href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></span>
                            <span><a class="ytb" href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a></span>
                            <span><a style='margin-right:0px;' class="link" href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></span>
                        </div>
                    </div>
                    <div class="footernav">
                        <ul>
                            <li><a href="{{ path('pages_help') }}">Comment ça marche ? </a></li>
                            <li><a href="#">Conditions générale</a></li>
                            <li><a href="#">Conseils</a></li>
                            <li><a href="#">Sécurité</a></li>
                            <li><a href="#">Charte</a></li>
                            <li><a href="#">à propos</a></li>
                            <li><a href="#" style="border-right:none;">Payements</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <span style="float:left;">www.101cours.com - 2016 Tous droits réservés</span>
                <span class="card">
                    <img src="{{ asset('bundles/pages/img/master.png') }}" />
                    <img src="{{ asset('bundles/pages/img/visa.png') }}" />
                </span>
            </div>
        </div>
    </div>
    <!-- END ALL HEADER -->
</div>
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/0499449a83.js"></script>
    <script src="{{ asset('bundles/pages/js/add.js') }}"></script>
    <script src="{{ asset('bundles/pages/js/wow.js') }}"></script>
    <script src="{{ asset('bundles/pages/js/bootstrap.min.js') }}"></script>
    {#<script src="{{ asset('bundles/pages/js/npm.js') }}"></script>#}
    <script>
        // Get the modal
        var modal = document.getElementById('conecterpopup');

        // Get the button that opens the modal
        var btn = document.getElementById("mymobileconnecter");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        btn.onclick = function() {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
    <script>
        function openCity(evt, cityName) {
            var i, x, tablinks;
            x = document.getElementsByClassName("city");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("link9");
            for (i = 0; i < x.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" w3-bluekap", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += "  w3-bluekap";
        }
    </script>
    <script>
        // Get the modal
        var modal = document.getElementById('conecterpopup');

        // Get the button that opens the modal
        var btn = document.getElementById("mybtnconnecter");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        btn.onclick = function() {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
    <script src='js/add.js'></script>
    <script>
        function betterParseFloat(x){
            if(isNaN(parseFloat(x)) && x.length > 0)
                return betterParseFloat(x.substr(1));
            return parseFloat(x);
        }
        function usd(x){
            x = betterParseFloat(x);
            if(isNaN(x))
                return "$0.00";
            var dollars = Math.floor(x);
            var cents = Math.round((x - dollars) * 100) + "";
            if(cents.length==1)cents = "0"+cents;
            return "$"+dollars+"."+cents;
        }
    </script>
    <script src='js/wow.js'></script>
    <script>
        new WOW().init();
    </script>
    <script>
        $(window).scroll(function() {
            if ($(this).scrollTop() > 1){
                $('.autre-header').addClass("stickyautre");
            }
            else{
                $('.autre-header').removeClass("stickyautre");
            }
        });
            
        $(window).scroll(function() {
            if ($(this).scrollTop() > 1){
                $('header').addClass("sticky");
                $('.logo').addClass("kaplogo");
                $('.seconecter').addClass("seconecterscroll");
            }
            else{
                $('header').removeClass("sticky");
                $('.logo').removeClass("kaplogo");
                $('.seconecter').removeClass("seconecterscroll");
            }
        });
        $(window).scroll(function() {
            if ($(this).scrollTop() > 1){
                $('.mobile-header').addClass("sticky");
                $('.logomobile').addClass("kaplogomobile");
                $('.sincriremobile').addClass("sincriremobilescroll");
                $('.navmobile').addClass("navmobilec");
            }
            else{
                $('.mobile-header').removeClass("sticky");
                $('.logomobile').removeClass("kaplogomobile");
                $('.sincriremobile').removeClass("sincriremobilescroll");
                $('.navmobile').removeClass("navmobilec");
            }
        });
        $(document).ready(function(){
            $(".connectead").hide();
            $(".profilpic").click(function(){
                $(".connectead").toggle();
            });
            $(span).click(function(){
                $(".connectead").hide();
            });
        });
    </script>
{% endblock %}
</body>
{% endblock %}
</html>
