{% extends 'MyAdminBundle::Layout_My_Admin.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {{ parent() }}
{% endblock %}


{% block content_my_admin %}
      <div class="autre-wrapper">
     <div class="container">



      <div class="left-side-back">
        <a href="{{ path('my_admin_infos_perso') }}"><p><b>Information personelles</b></p></a>
        <a href="{{ path('my_admin_infos_cin') }}"><p>Cin</p></a>
        <a href="{{ path('my_admin_infos_picture') }}"><p>Photo</p></a>
        <a href="{{ path('my_admin_infos_prof') }}"><p><b>Professeur</b></p></a>
        <a href="{{ path('my_admin_infos_verification') }}"><p><b>Verifications</b></p></a>
        <a href="{{ path('my_admin_infos_rib') }}"><p><b>Identité bancaire</b></p></a>
        <a href="{{ path('my_admin_infos_compl') }}"><p><b>Informations complémentaires</b></p></a>
</div>

 <div class="right-side-back">

<div class="experience">
<div class="histo">Experience <span style="float:right;color:#555;">Voir des exemples</span></div>
<table class="tablekap" style="width:100%">
 <tr>
   <td class="cinox"  style="width:30%;">Nom de l'entreprise*</td>
   <td class="cinox" ><input type="text" class="tableinput" /></td>
 </tr>
 <tr>
   <td class="cinox"  style="width:30%;">Titre*</td>
   <td class="cinox" ><input type="text" class="tableinput" /></td>
 </tr>
 <tr>

 <tr>
   <td class="cinox"  style="width:30%;">Justificatif</td>
   <td class="cinox" ><button class="ppl lapiece"><i class="fa fa-file-text" aria-hidden="true"></i> Telecharger le justificatif</button></td>
 </tr>
 <tr>
   <tr>
     <td style="width:20%;"></td>
     <td>
       <div class="condwr">
         <button class="save">Enregister</button>
         <button class="cancel save">Annuler</button>
       </div>
     </td>
   </tr>

</table>



</div>


<div class="experience">
<div class="histo">Formation <span style="float:right;color:#555;">Voir des exemples</span></div>
<table class="tablekap" style="width:100%">
 <tr>
   <td class="cinox" style="width:30%;">Ecole*</td>
   <td class="cinox" ><input type="text" class="tableinput" /></td>
 </tr>
 <tr>
   <td class="cinox"  style="width:30%;">Années*</td>
   <td class="cinox" >
     <select  class="anne searching1" name="Niveau">
 <option> Choisir </option>
  <option value="1993">2016</option>
 <option value="1993">2015</option>
 <option value="1992">2014</option>
 <option value="1991">2013</option>
 <option value="1990">2012</option>
 <option value="1989">2010</option>
 <option value="1988">2009</option>
 <option value="1987">2008</option>
 <option value="1986">2007</option>
 <option value="1985">2006</option>
 <option value="1984">2005</option>
 <option value="1983">2004</option>
 <option value="1982">2003</option>
 <option value="1981">2002</option>
 <option value="1980">2001</option>
 <option value="1979">2000</option>
 <option value="1978">1999</option>
 <option value="1977">1998</option>
 <option value="1976">1997</option>
 <option value="1975">1996</option>
 <option value="1974">1995</option>
 <option value="1973">1994</option>
 <option value="1972">1993</option>
 <option value="1971">1992</option>
 <option value="1970">1991</option>
 <option value="1969">1990</option>
 <option value="1968">1989</option>
 <option value="1967">1988</option>
 <option value="1966">1987</option>
 <option value="1965">1986</option>
 <option value="1964">1985</option>
 <option value="1963">1963</option>
 <option value="1962">1962</option>
 <option value="1961">1961</option>
 <option value="1960">1960</option>
 <option value="1959">1959</option>
 <option value="1958">1958</option>
 <option value="1957">1957</option>
 <option value="1956">1956</option>
 <option value="1955">1955</option>
 <option value="1954">1954</option>
 <option value="1953">1953</option>
 <option value="1952">1952</option>
 <option value="1951">1951</option>
 <option value="1950">1950</option>
 <option value="1949">1949</option>
 <option value="1948">1948</option>
 <option value="1947">1947</option>
 </select>

 <select  class="anne searching1" name="Niveau">
<option> Choisir </option>
<option value="1993">2015</option>
<option value="1992">2014</option>
<option value="1991">2013</option>
<option value="1990">2012</option>
<option value="1989">2010</option>
<option value="1988">2009</option>
<option value="1987">2008</option>
<option value="1986">2007</option>
<option value="1985">2006</option>
<option value="1984">2005</option>
<option value="1983">2004</option>
<option value="1982">2003</option>
<option value="1981">2002</option>
<option value="1980">2001</option>
<option value="1979">2000</option>
<option value="1978">1999</option>
<option value="1977">1998</option>
<option value="1976">1997</option>
<option value="1975">1996</option>
<option value="1974">1995</option>
<option value="1973">1994</option>
<option value="1972">1993</option>
<option value="1971">1992</option>
<option value="1970">1991</option>
<option value="1969">1990</option>
<option value="1968">1989</option>
<option value="1967">1988</option>
<option value="1966">1987</option>
<option value="1965">1986</option>
<option value="1964">1985</option>
<option value="1963">1963</option>
<option value="1962">1962</option>
<option value="1961">1961</option>
<option value="1960">1960</option>
<option value="1959">1959</option>
<option value="1958">1958</option>
<option value="1957">1957</option>
<option value="1956">1956</option>
<option value="1955">1955</option>
<option value="1954">1954</option>
<option value="1953">1953</option>
<option value="1952">1952</option>
<option value="1951">1951</option>
<option value="1950">1950</option>
<option value="1949">1949</option>
<option value="1948">1948</option>
<option value="1947">1947</option>
</select>
ou l'année prevue d'obtention de votre diplome
   </td>
 </tr>
 <tr>

 <tr>
   <td  class="cinox" style="width:30%;">Justificatif</td>
   <td class="cinox" ><button class="ppl lapiece"><i class="fa fa-file-text" aria-hidden="true"></i> Telecharger le justificatif</button></td>
 </tr>
 <tr>
   <tr>
     <td style="width:20%;"></td>
     <td class="cinox" >
       <div class="condwr">
         <p class="voir">Voir des examples</p>
         <button class="save">Enregister</button>
         <button class="cancel save">Annuler</button>
       </div>
     </td>
   </tr>

</table>


</div>


 </div>
 </div>
 </div>
{% endblock %}    