{% extends 'MyAdminBundle::Layout_My_Admin.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function(){
            $('#userbundle_userprofile_search_city').autocomplete({
                minLength: 2,
                messages: {
                    noResults: '',
                    results: function() {}
                },
                source : function(requete, reponse){
                    $.ajax({
                        type: "POST",
                        url : "{{ path('pages_ajax_searchajaxcities') }}",
                        dataType : 'json',
                        data : 'city=' + requete['term'],
                        maxRows : 10,
                        success : function(data){
                            reponse($.map(data, function(objet){
                                objet['label'] = objet['name'] + ' (' + objet['postalCode'] + ')';
                                return objet;
                            }));
                        }
                    });
                },
                select: function(event, ui){
                    $('#userbundle_userprofile_city').val(ui.item.id);
                }
            }).data('ui-autocomplete')._renderItem = function(ul, item){
                return $('<li>').append('<a style="text-transform: capitalize;">' + item.name + ' (' + item.postalCode + ')' + '</a>').appendTo(ul);
            };
        });
    </script>
{% endblock %}

{% block title %}
    {{ parent() }}
{% endblock %}


{% block content_my_admin %}
<div class="autre-wrapper">
    <div class="container">
        <div class="left-side-back">
            <a href="{{ path('my_admin_infos_perso', { 'id' : app.user.id }) }}"><p><b>Information personelles</b></p></a>
            <a href="{{ path('my_admin_infos_cin', { 'id' : app.user.id }) }}"><p>Cin</p></a>
            <a href="{{ path('my_admin_infos_picture', { 'id': app.user.id }) }}"><p>Photo</p></a>
            <a href="{{ path('my_admin_infos_prof', { 'id': app.user.id }) }}"><p><b>Professeur</b></p></a>
            <a href="{{ path('my_admin_infos_verification') }}"><p><b>Verifications</b></p></a>
            <a href="{{ path('my_admin_infos_rib', { 'id': app.user.id }) }}"><p><b>Identité bancaire</b></p></a>
            <a href="{{ path('my_admin_infos_compl', { 'id': app.user.id }) }}"><p><b>Informations complémentaires</b></p></a>
        </div>
        <div class="right-side-back">
            <div class="right-side-backc2">
                <div class="histo">Information personelles</div>
                <form method="post" {{ form_enctype(form) }} action="{{ path('my_admin_infos_perso', { 'id': app.user.id }) }}">
                    <table class="tablekap" style="width:100%">
                        <tr>
                            <td class="cinox" style="width:25%;">{{ form_label(form.gender) }}</td>
                            <td class="cinox">
                                {{ form_widget(form.gender) }}
                            </td>
                        </tr>
                        <tr>
                            <td class="cinox" style="width:25%;">{{ form_label(form.firstname) }}</td>
                            <td class="cinox">{{ form_widget(form.firstname) }}</td>
                        </tr>
                        <tr>
                            <td class="cinox" style="width:25%;">{{ form_label(form.lastname) }}<span style="color: #fd8e95;margin-right:10px;float:right;" class="w3-tooltip"><i class="fa fa-lock" aria-hidden="true"></i><span  class="qfeltoltip w3-text w3-tag">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span></span></td>
                            <td class="cinox">{{ form_widget(form.lastname) }}</td>
                        </tr>
                        <tr>
                            <td class="cinox" style="width:25%;">Anniversaire <span style="color: #fd8e95;margin-right:10px;float:right;" class="w3-tooltip"><i class="fa fa-lock" aria-hidden="true"></i><span  class="qfeltoltip w3-text w3-tag">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span></span></td>
                            <td class="cinox" >
                                {{ form_widget(form.birthDate.day, { 'attr': {'class': 'jours searching1', 'name': 'Niveau'} } ) }}
                                {{ form_widget(form.birthDate.month, { 'attr': {'class': 'jours searching1', 'name': 'Niveau'} }) }}
                                {{ form_widget(form.birthDate.year, { 'attr': {'class': 'jours searching1', 'name': 'Niveau'} } ) }}
                            </td>
                        </tr>
                        <tr>
                            <td class="cinox" style="width:20%;">{{ form_label(form.status) }} </td>
                            <td class="cinox">{{ form_widget(form.status) }}</td>
                        </tr>
                        <tr>
                            <td  class="cinox" style="width:20%;"> </td>
                            <td class="cinox" ><span class="par">les informations n'est partagée qu'une fois que vous avez confirmer une réservation avec un autre membre </span></td>
                        </tr>
                        <tr>
                            <td class="cinox" style="width:25%;">{{ form_label(form.email) }}<span style="color: #fd8e95;margin-right:10px;float:right;" class="w3-tooltip"><i class="fa fa-lock" aria-hidden="true"></i><span  class="qfeltoltip w3-text w3-tag">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span></span></td>
                            <td class="cinox">{{ form_widget(form.email) }}</td>
                        </tr>
                        <tr>
                            <td class="cinox" style="width:25%;">{{ form_label(form.phoneNumber) }} <span style="color: #fd8e95;margin-right:10px;float:right;" class="w3-tooltip"><i class="fa fa-lock" aria-hidden="true"></i><span  class="qfeltoltip w3-text w3-tag">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span></span></td>
                            <td class="cinox">{{ form_widget(form.phoneNumber) }}</td>
                        </tr>
                        <tr>
                            <td class="cinox" style="width:25%;">{{ form_label(form.postalAdress.address) }} <span style="color: #fd8e95;margin-right:10px;float:right;" class="w3-tooltip"><i class="fa fa-lock" aria-hidden="true"></i><span  class="qfeltoltip w3-text w3-tag">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span></span></td>
                            <td class="cinox">{{ form_widget(form.postalAdress.address) }}</td>
                        </tr>
                        {#<tr>
                            <td class="cinox" style="width:25%;">Code postale <span style="color: #fd8e95;margin-right:10px;float:right;" class="w3-tooltip"><i class="fa fa-lock" aria-hidden="true"></i><span  class="qfeltoltip w3-text w3-tag">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span></span></td>
                            <td class="cinox"><input type="text" class="tableinput" /></td>
                        </tr>#}
                        <tr>
                            <td class="cinox" style="width:25%;">{{ form_label(form.search_city) }} </td>
                            <td class="cinox">
                                {{ form_widget(form.search_city) }}
                                <div style="display: none;">
                                    {{ form_widget(form.city) }}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:25%;"></td>
                            <td>
                                <div class="condwr">
                                    <div class="condc2">
                                        <label class="control control--checkbox">
                                        <span  class="accregc2" style="">{{ form_label(form.confirmCondition) }}</span>
                                        {{ form_widget(form.confirmCondition) }}
                                        <div style="float:left;top:1px;" class="control__indicator kapcheck"></div>
                                        </label>
                                    </div>
                                    <button class="publierc2">Publier l'annonce</button>
                                </div>
                                {{ form_rest(form) }}
                            </td>
                        </tr>
                   </table>
               </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
