{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function(){
            $(".dkshiihbt").hide();
            $(".hbtsearch").click(function(){
                $('.hbtsearch').addClass("hbtsearch22");
                $(".dkshiihbt").toggle();
            });
            
            $('#myadminbundle_searchcity_search_cityCours').autocomplete({
                minLength: 2,
                messages: {
                    noResults: '',
                    results: function() {}
                },
                source : function(requete, reponse){
                    $.ajax({
                        type: "POST",
                        url : "{{ path('pages_ajax_searchajaxcities') }}",
                        dataType : 'json',
                        data : 'city=' + requete['term'],
                        maxRows : 10,
                        success : function(data){
                            reponse($.map(data, function(objet){
                                objet['label'] = objet['name'] + ' (' + objet['postalCode'] + ')';
                                return objet;
                            }));
                        }
                    });
                },
                select: function(event, ui){
                    $('#myadminbundle_searchcity_cities').val(ui.item.id);
                }
            }).data('ui-autocomplete')._renderItem = function(ul, item){
                return $('<li>').append('<a style="text-transform: capitalize;">' + item.name + ' (' + item.postalCode + ')' + '</a>').appendTo(ul);
            };
        });
    </script>
{% endblock %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block content %}
     {% block menu_my_admin %}
    <div class="tht-back-nav">
        <div class="container">
            <div class="wst-tht">
                <ul>
                    <li><a class="active" href="{{ path('my_admin') }}">Tableau de bord</a></li>
                    <li class="dropdown">
                        <a href="{{ path('my_admin_infos_perso') }}" class="dropbtn">Profil</a>
                        <div class="dropdown-content">
                          <a href="{{ path('my_admin_infos_perso') }}">Informations Personelles</a>
                          <a href="{{ path('my_admin_infos_cin') }}">CIN</a>
                          <a href="{{ path('my_admin_infos_picture') }}">Photo</a>
                          <a href="{{ path('my_admin_infos_rib') }}">Identité bancaire</a>
                          <a href="{{ path('my_admin_infos_prof') }}"><p><b>Professeur</b></p></a>
                          <a href="{{ path('my_admin_infos_verification') }}">Vérifications</a>
                          <a href="{{ path('my_admin_infos_compl') }}">Informations complémentaires</a>
                        </div>
                    </li>
                    <li class="dropdown">
                          <a href="g1.php" class="dropbtn">Mes réservations</a>
                          <div class="dropdown-content">
                            <a href="b1.php">Réservations actuelles</a>
                          </div>
                    </li>
                    <li class="dropdown">
                        <a href="c1.php" class="dropbtn">Vos Annonces</a>
                        <div class="dropdown-content">
                          <a href="c1.php">Mes annonces publiées</a>
                          <a href="c2.php">Publier une annonce</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="" class="dropbtn">Argent</a>
                        <div class="dropdown-content">
                          <a href="h3.php">Paiments versés</a>
                          <a href="g8.php">Mes missions actuelles</a>
                          <a href="h4.php">Paiments reçues</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="h1.php" class="dropbtn">Autres</a>
                        <div class="dropdown-content">
                          <a href="e1.php">messages</a>
                          <a href="f1.php">Avis</a>
                        </div>
                    </li>
                </ul>
            </div>
      </div>             
    </div>
    {% endblock %}
    {% block content_my_admin %}
    <div class="autre-wrapper">
        <div class="container">
            
            <div class="cinm">
                <div class="iconleft"><i class="fa fa-address-card" aria-hidden="true"></i></div>
                <div class="cinktbalwst">
                    <span style="font-size:17px;"><b>CIN Manquante </b><i class="fa fa-question-circle" aria-hidden="true"></i></span><br />
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                </div>
                <a href="{{ path('my_admin_infos_cin') }}">
                    <button class="addcin">Ajouter CIN</button></a>
            </div>
            <div class="left-side-back">
                <div class="lesinfosback">
                    <div class="backpdp">
                        <img src="{{ asset('bundles/pages/img/user_default.png') }}" />
                        <a href="{{ path('my_admin_infos_picture') }}"><div class="bdel">Ajouter une photo de profil</div></a>
                    </div>
                    <span style="    font-size: 23px; " >{{ app.user.username }} {{ app.user.lastname }}</span><br /><br />
                    <a href="">Voir le profil</a>
                    <a href="">Modifier le profil</a>
                    <div class="verifications-box">
                        <div class="ver-title">
                            Vérification  <i class="fa fa-question-circle" aria-hidden="true"></i>
                        </div>
                        <div class="ver-row">
                            <div class="verifyinfos">
                                <div class="cin"><i class="fa fa-address-card" aria-hidden="true"></i> <span>CIN</span> <span class="checkverify"><i class="fa fa-check-circle" aria-hidden="true"></i> Vérifié</span></div>
                                <div class="cin"><i class="fa fa-envelope" aria-hidden="true"></i> <span>Email</span> <span class="checkverify"><i class="fa fa-check-circle" aria-hidden="true"></i> Vérifié</span></div>
                                <div class="cin"><i class="fa fa-linkedin-square" aria-hidden="true"></i> <span>Linkedin</span> <span class="checkverify"><i class="fa fa-check-circle" aria-hidden="true"></i> Vérifié</span></div>
                                <div class="cin"><i class="fa fa-facebook-official" aria-hidden="true"></i> <span>Facebook</span> <span class="checkverify"><i class="fa fa-check-circle" aria-hidden="true"></i> Vérifié</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-side-back">
                <div style="margin:0px;" class="verifications-box">
                    <div  class="new-title">
                        <i style="font-weight:bold;color:#1ebfe9;margin-right:5px;" class="fa fa-envelope-o" aria-hidden="true"></i> Nouveaux messages <span style="margin-left:5px;color:#1ebfe9;" >(2)</span>
                    </div>
                    <div class="new-row">
                        <span>Notification 1 : Veullez ajouter votre CIN afin d'activer votre compte</span>
                        <span>Vous pouvez coupler votre compte facebook avec notre site</span>
                        <span><a style="color:#1ebfe9;font-size:15px;" href="">Voir tous les messages</a></span>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    {% endblock %}
    <!-- end of les pages -->
{% endblock %}
