<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" role="form">
    <table>
        <tr>
            <td><span style="    font-size: 23px;padding: 20px;float: left;width: 100%;text-align: center;">S'incrire pour:</span></td>
        </tr>
        <tr>
            <td class="remove-type-radio">
                <label for="fos_user_registration_form_status_0" class="recevoir">
                    {{ form_widget(form.status[0]) }}
                    {{ form_label(form.status[0]) }}
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <div class="our">Ou</div>
            </td>
        </tr>
        <tr>
            <td class="remove-type-radio">
                <label for="fos_user_registration_form_status_1" class="donner">
                    {{ form_widget(form.status[1]) }}
                    {{ form_label(form.status[1]) }}
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <div class="message error">{{ form_errors(form.status) }}</div>
            </td>
        </tr>
        
        <tr>
            <td>
                {{ form_widget(form.firstname) }}
                {{ form_widget(form.lastname) }}
            </td>
        </tr>
        <tr>
            <td>
                <div class="message error">{{ form_errors(form.firstname) }}</div>
                <div class="message error">{{ form_errors(form.lastname) }}</div>
            </td>
        </tr>
        
        <tr>
            <td>
                <div class="field">
                    {{ form_widget(form.email) }}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="message error">{{ form_errors(form.email) }}</div>
            </td>
        </tr>
        
        <tr>
            <td>
                <div class="field">
                    {{ form_widget(form.plainPassword.children['first'], { 'attr' : { 'placeholder' : 'Mot de passe', 'class' : 'mdp-in inscin' } }) }}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="message error">{{ form_errors(form.plainPassword.children['first']) }}</div>
            </td>
        </tr>
        
        <tr>
            <td>
                <div class="field">
                    {{ form_widget(form.plainPassword.children['second'], { 'attr' : { 'placeholder' : 'Confirmer le mot de passe', 'class' : 'mdp-in inscin' } }) }}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="message error">{{ form_errors(form.plainPassword.children['second']) }}</div>
            </td>
        </tr>
        
        <tr>
            <td>
                <span style="    float: left;width: 100%;text-align: left;padding-bottom: 10px;"><b>Date de naissance</b></span>
            </td>
        </tr>
        
        <tr>
            <td>
                <div>
                    {{ form_widget(form.birthDate.month, { 'attr': {'class': 'inscan'} }) }}
                    {{ form_widget(form.birthDate.day, { 'attr': {'class': 'inscan'} } ) }}
                    {{ form_widget(form.birthDate.year, { 'attr': {'class': 'inscan'} } ) }}
                </div>
            </td>
        </tr>
        
        <tr>
            <td> <a href="" class="aa">Pourquoi indiquer ma date de naissance ?</a> </td>
        </tr>
        
        <tr>
            <td>
                <div class="hmfm">
                    {{ form_widget(form.gender) }}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="message error">{{ form_errors(form.gender) }}</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="acc">
                    <label class="control control--checkbox"><span class="accp">{{ form_label(form.confirmCondition) }}</span>
                        {{ form_widget(form.confirmCondition) }}
                        <div class="gradientcheck control__indicator"></div>
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                {{ form_rest(form) }}
            </td>
        </tr>
        
        <tr>
            <td>
                <button class="conbut" action="submit">Inscription</button>
            </td>
        </tr>
    </table>
</form>
