{% extends 'MyAdminBundle::Layout_My_Admin.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {{ parent() }}
{% endblock %}


{% block content_my_admin %}  
<div class="autre-wrapper">
     <div class="container">



      <div class="left-side-back">
        <a href="{{ path('my_admin_infos_perso') }}"><p><b>Information personelles</b></p></a>
        <a href="{{ path('my_admin_infos_cin') }}"><p>Cin</p></a>
        <a href="{{ path('my_admin_infos_picture') }}"><p>Photo</p></a>
        <a href="{{ path('my_admin_infos_prof') }}"><p><b>Professeur</b></p></a>
        <a href="{{ path('my_admin_infos_verification') }}"><p><b>Verifications</b></p></a>
        <a href="{{ path('my_admin_infos_rib') }}"><p><b>Identité bancaire</b></p></a>
        <a href="{{ path('my_admin_infos_compl') }}"><p><b>Informations complémentaires</b></p></a>
</div>

 <div style="padding:0px;" class="right-side-back">
<div class="histo">Historique des demandes</div>
   <div class="photoleft">
      <div class="cam"><i class="fa fa-camera" aria-hidden="true"></i></div>
      <div class="chosepic">
      <button class="chose">Choisir une photo</button>
      <span style="    float: left;width: 100%;font-size: 14px;color: #d1d1d1;">PNG , JPG ou GIF de 3mo maximum</span>
    </div>
   </div>
   <div class="photoright">
     <div class="rightimg"><img src="images/yaz.jpg" /> <span class="checkpic"><i class="fa fa-check" aria-hidden="true"></i></span></div>
     <p style="color:#6fc252;">Comment choisir la bonne photo</p>
     <div class="instru">
<p>Pas de lunettes de soleil</p>
<p>Claire et lumineuse</p>
<p>Face a l'objectif</p>
<p>Un seul visage</p>
     </div>
  </div>

</div>
 </div>
 </div>
{% endblock %}