{% extends 'MyAdminBundle::Layout_My_Admin.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {{ parent() }}
{% endblock %}


{% block content_my_admin %}
    <div class="autre-wrapper">
     <div class="container">



      <div class="left-side-back">
        <a href="{{ path('my_admin_infos_perso') }}"><p><b>Information personelles</b></p></a>
        <a href="{{ path('my_admin_infos_cin') }}"><p>Cin</p></a>
        <a href="{{ path('my_admin_infos_picture') }}"><p>Photo</p></a>
        <a href="{{ path('my_admin_infos_prof') }}"><p><b>Professeur</b></p></a>
        <a href="{{ path('my_admin_infos_verification') }}"><p><b>Verifications</b></p></a>
        <a href="{{ path('my_admin_infos_rib') }}"><p><b>Identité bancaire</b></p></a>
        <a href="{{ path('my_admin_infos_compl') }}"><p><b>Informations complémentaires</b></p></a>
</div>
 <div class="right-side-back">
 <div class="right-side-backc2">
<div class="histo">Historique des demandes</div>
   <table class="tablekap" style="width:100%">
    <tr>
      <td class="cinox"  style="width:30%;">RIB (Compte au maroc) <span style="color: #fd8e95;margin-right:10px;float:right;" class="w3-tooltip"><i class="fa fa-lock" aria-hidden="true"></i><span  class="qfeltoltip w3-text w3-tag">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span></span></td>
      <td class="cinox" ><input type="text" class="tableinput" /></td>
    </tr>
    <tr>
      <td class="cinox"  style="width:30%;">Confirmer le RIB <span style="color: #fd8e95;margin-right:10px;float:right;" class="w3-tooltip"><i class="fa fa-lock" aria-hidden="true"></i><span  class="qfeltoltip w3-text w3-tag">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span></span></td>
      <td class="cinox" ><input type="text" class="tableinput" /></td>
    </tr>
    <tr>

      <td style="width:30%;"> </td>
      <td ><span class="par">les informations n'est partagée qu'une fois que vous avez confirmer une réservation avec un autre membre </span></td>
          </tr>


   </table>

   <div class="condwr">
     <button class="publierc2">S'inscrire</button>
   </div>

</div>
</div>
 </div>
 </div>
{% endblock %}
