{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function(){
            $('#myadminbundle_searchcity_search_cityCours').autocomplete({
                minLength: 2,
                messages: {
                    noResults: '',
                    results: function() {}
                },
                source : function(requete, reponse){
                    $.ajax({
                        type: "POST",
                        url : "{{ path('pages_ajax_searchajaxcities') }}",
                        dataType : 'json',
                        data : 'city=' + requete['term'],
                        maxRows : 10,
                        success : function(data){
                            reponse($.map(data, function(objet){
                                objet['label'] = objet['name'] + ' (' + objet['postalCode'] + ')';
                                return objet;
                            }));
                        }
                    });
                },
                select: function(event, ui){
                    $('#myadminbundle_searchcity_cities').val(ui.item.id);
                }
            }).data('ui-autocomplete')._renderItem = function(ul, item){
                return $('<li>').append('<a style="text-transform: capitalize;">' + item.name + ' (' + item.postalCode + ')' + '</a>').appendTo(ul);
            };
        });
    </script>
{% endblock %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <!-- MOBILE HEADER -->
    <div class="all-header">
        <!-- DONNER UN COURS -->
        <div class="wow bounceIn donnerwrapper">
            <div class="container">
                <span class="tr">Trouver votre cours sur 101cours.ma</span>
                <div class="theformdonner">
                    <form action="{{ path("pages_result-search") }}" method="post">
                        <div style="display: none;">
                            {{ form_widget(form.cities) }}
                        </div>
                        {{ form_widget(form.search_cityCours, { 'attr': {'class': 'inputdonner'} }) }}
                        {{ form_widget(form.level, { 'attr': {'class': 'inputdonner'} }) }}
                        {{ form_widget(form.cours, { 'attr': {'class': 'inputdonner'} }) }}
                        {{ form_rest(form) }}
                        <button class="donnersearch"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <!-- END OF DONNER UN COURS -->
    </div>
    <!-- Vous voulez donner un cours -->
    <div class="wow bounceInUp voulezvous">
        <div class="container">
            <div class="wstvoulez">
                <span class="vt">Vous voulez donner un cours</span><br />
                <div class="voulezrows">
                    <div class="voulezrow">
                        <div class="voulezmor">
                            <span class="moricon"><img src="{{ asset('bundles/pages/img/editc.png') }}"/></span><br /><br />
                            <span class="mortitle">Publie une annonce</span><br />
                            <span class="mortext">Lorem Ipsum is simply dummy text of the
                                printing and typesetting industry.</span>
                        </div>
                        <button class="voulezbut">Publie une annonce</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of Vous voulez donner un cours -->
    
    <!-- lorem -->
    <div class="wow bounceInUp loremwrapper">
        <div class="container">
            <div class="loremrows">
                <div class="loremrow">
                    <div class="loremicon"><i class="secu" ></i></div><br />
                    <span class="loremtitle">Qu'est-ce que le Lorem</span><br />
                    <span class="loremtext">Le Lorem Ipsum est simplement du faux texte employé dans la composition.</span>
                </div>
                <div class="loremrow">
                    <div class="loremicon"><i class="time" ></i></div><br />
                    <span class="loremtitle">Qu'est-ce que le Lorem</span><br />
                    <span class="loremtext">Le Lorem Ipsum est simplement du faux texte employé dans la composition.</span>
                </div>
                <div class="loremrow">
                    <div class="loremicon"><i class="money" ></i></div><br />
                    <span class="loremtitle">Qu'est-ce que le Lorem</span><br />
                    <span class="loremtext">Le Lorem Ipsum est simplement du faux texte employé dans la composition.</span>
                </div>
            </div>
        </div>
    </div>
    <!-- end of lorem -->
    
    <!-- les pages -->
    <div class="wow bounceInUp lespageswrapper">
        <div class="container">
            <div class="pagerows">
                <div class="pagerow">
                    <div class="prowtitle">Comment ça marche ?</div>
                    
                    <div class="prowimg"><img src="{{ asset('bundles/pages/img/img1.png') }}"/></div>
                </div>
                
                <div class="pagerow">
                    <div class="prowtitle">Demander un cours </div>
                    
                    <div class="prowimg"><img src="{{ asset('bundles/pages/img/img2.png') }}" /></div>
                </div>
                
                <div class="pagerow">
                    <div class="prowtitle">Télécharger l’application</div>
                    
                    <div class="prowimg"><img src="{{ asset('bundles/pages/img/img3.png') }}"/></div>
                </div>
                
                <div class="pagerow">
                    <div class="prowtitle">Cours sur mesure</div>
                    
                    <div class="prowimg"><img src="{{ asset('bundles/pages/img/img6.png') }}" /></div>
                </div>
                
                <div class="pagerow">
                    <div class="prowtitle">Publier une annonce</div>
                    
                    <div class="prowimg"><img src="{{ asset('bundles/pages/img/img4.png') }}" /></div>
                </div>
                
                <div class="pagerow">
                    <div class="prowtitle">Savoir plus</div>
                    
                    <div class="prowimg"><img src="{{ asset('bundles/pages/img/img5.png') }}" /></div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of les pages -->
{% endblock %}
