{% extends '::base.html.twig' %}
{% block js %}
    {{ parent() }}
</script>
{% endblock %}
{% block content %}
    <div class="autre-wrapper">
        <div style="margin-bottom:0px !important;" class="renawrap">
            <span style="    font-size: 23px;padding: 20px;float: left;width: 100%;text-align: center;">Se connecter:</span>
            <div class="inscform">
                <form action="{{ path("fos_user_security_check") }}" method="POST">
                    <input type="email" placeholder="Email" class="email-in inscin" name="_username" value="{{ last_username }}" required="required"/>
                    <input type="password" placeholder="Mot de passe" class="mdp-in inscin" required="required" name="_password" />
                    <a href="{{ path('fos_user_resetting_request') }}" class="aa">Mot de passe oublié</a>
                    <div class="hmfm">
                        <label for="remember_me" class="control control--checkbox">Se souvenir de moi
                            <input checked="checked" type="checkbox" id="remember_me" name="_remember_me" value="on" />
                            <div style="float:left;top:1px;" class="kapcheck control__indicator"></div>
                        </label>
                    </div>
                    <button class="conbut">Connexion</button>
                </form>
                <div class="pasencore">
                    <span class="pasencoretxt">Pas encore membre ?</span>
                    <a href="{{ path('fos_user_registration_register') }}"><button class="inscriverbtn">Inscrivez-vous gratuitement</button></a>
                    <span class="lthtinsktba">Inscrivez-vous gratuitement et accédez à toutes les fonctionnalités de 101cours.ma</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
