{% extends 'PagesBundle::layout_content.html.twig' %}
{% block js %}
    {{ parent() }}
    <link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/ui-lightness/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function(){
        });
    </script>
{% endblock %}
{% block box_fildset %}    
    <h1>
        <span> Zone membre </span> 
    </h1>
{% endblock %}
{% block box_content %}
{% if error %}
    <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div id="main_content" class="login">
    <div id="">
        <h2 class="membre_h2">Déjà membre</h2>
        <form class="form" action="{{ path("fos_user_security_check") }}" method="post">
               <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
               <table>
                    <tr>
                        <td colspan="2">
                            <label for="username">Identifiant</label>
                            <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Votre identifiant" required="required" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" >
                            <label for="password">Mot de passe</label>
                            <input type="password" id="password" name="_password" placeholder="Votre mot de passe" required="required" />
                        </td>
                    </tr>
                    <tr>
                        <td class="display_label">
                            <input checked="checked" type="checkbox" id="remember_me" name="_remember_me" value="on" />
                            <label for="remember_me">Se souvenir de moi</label>
                        </td>
                        <td class="forget col-align-right">
                            <a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input id="_submit" name="_submit" type="submit" value="Connexion" />
                        </td>
                    </tr>
                </table>
            </form>
        <h2 class="inscription_h2">Pas encore membre</h2>
        <p>
            <a class="button" href="{{ path('monbail_lease_create') }}">Remplir mon bail en ligne</a>
        </p>
    </div>
</div>
{% endblock %}
